week-05-automl-training/workflow.json
{
  "name": "Week 5 - Generic vs Fine-Tuned Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        32
      ],
      "id": "20507262-90b7-445a-9ba9-88326b512391",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appwGE5tbXIduxKk4",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appwGE5tbXIduxKk4"
        },
        "table": {
          "__rl": true,
          "value": "tblhpx0xNjb6fWGuF",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appwGE5tbXIduxKk4/tblhpx0xNjb6fWGuF"
        },
        "filterByFormula": "= {input_text} != \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -160,
        32
      ],
      "id": "3ac637f2-da95-4b59-9816-f984ebf1e787",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "3Z4k2GLRAx8WGQxq",
          "name": "Airtable Personal Access Token account 34"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        32
      ],
      "id": "3a43baeb-4d20-4cf7-b676-a49ed667ad02",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        992,
        144
      ],
      "id": "65890ac4-461f-4828-bbff-836980521f53",
      "placeholder": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        -272
      ],
      "id": "1620837c-56d1-455b-9dc2-4ea664559942",
      "name": "Generic Sentiment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XO8bWPVNvlwPnBig",
          "name": "Header Auth account 14"
        },
        "huggingFaceApi": {
          "id": "fxoYPqXuAAdSoyoL",
          "name": "HuggingFaceApi account 7"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/cardiffnlp/twitter-roberta-base-sentiment-latest",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $('Search records').item.json.fields.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        -64
      ],
      "id": "f005cafc-ed58-45b7-95fc-f8d001824066",
      "name": "Fine-Tuned A",
      "credentials": {
        "huggingFaceApi": {
          "id": "fxoYPqXuAAdSoyoL",
          "name": "HuggingFaceApi account 7"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/papluca/xlm-roberta-base-language-detection",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"Urgent: verify your bank account now or access will be suspended\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        160
      ],
      "id": "7932b50a-7988-4d67-9b79-96efd4a115d5",
      "name": "Fine-Tuned B",
      "credentials": {
        "huggingFaceApi": {
          "id": "fxoYPqXuAAdSoyoL",
          "name": "HuggingFaceApi account 7"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        -80
      ],
      "id": "fd3859e3-8ef7-4951-a596-42550f447873",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85ad6507-697c-4cb5-be83-00fab33594dd",
              "name": "generic_label",
              "value": "= {{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "f7c93c2e-57f9-436e-a956-ca68222a4d76",
              "name": "generic_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "a6893f15-1a44-4430-bf6b-b7760a86c328",
              "name": "input_text ",
              "value": "={{ $('Search records').item.json.fields.input_text}}",
              "type": "string"
            },
            {
              "id": "9d99cccd-ccf3-412e-a226-c56a7f91f774",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -272
      ],
      "id": "c464e8b4-29a5-4c13-9015-7283ae9faf88",
      "name": "Extract Generic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "287132b2-a025-471b-86df-76ed152b28e0",
              "name": "finetuned_a_label",
              "value": "={{ ($json.finetuned_a_label || \"\").trim() === \"LABEL_1\" ? \"phishing\" : \"legitimate\" }}",
              "type": "string"
            },
            {
              "id": "99e8d42d-fc26-46f3-ad15-0bcf82519761",
              "name": "=finetuned_a_score ",
              "value": "={{ $json[0].score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -64
      ],
      "id": "db1cbe86-e02b-479f-86b2-001a250cf8dc",
      "name": "Extract Fine-Tuned A"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a11b5e95-b5ee-4afc-a749-b73017d60c96",
              "name": "finetuned_b_label ",
              "value": "={{ ($json[\"finetuned_b_label \"] || \"\").trim() === \"LABEL_1\" ? \"spam / phishing\" : \"legitimate\" }}",
              "type": "string"
            },
            {
              "id": "57806e66-e5e1-4339-b600-880f76e9c6fe",
              "name": "finetuned_b_score",
              "value": "={{ $json[0].score }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        160
      ],
      "id": "a87d2085-8d8e-43c2-9b2a-6fb894ad12dd",
      "name": "Extract Fine-Tuned B"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appwGE5tbXIduxKk4",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appwGE5tbXIduxKk4"
        },
        "table": {
          "__rl": true,
          "value": "tblhpx0xNjb6fWGuF",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appwGE5tbXIduxKk4/tblhpx0xNjb6fWGuF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "input_text": "={{ $json['input_text '] }}",
            "generic_label": "={{ $json.generic_label }}",
            "generic_score": "= {{ $json.generic_score }}",
            "finetuned_a_label": "= {{ $json.finetuned_a_label }}",
            "finetuned_a_score": "={{ Number($json[\"finetuned_a_score \"]) }}",
            "finetuned_b_label": "={{ $json[\"finetuned_b_label \"] }}",
            "finetuned_b_score": "={{ Number($json.finetuned_b_score) }}",
            "tested_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "input_text"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_label",
              "displayName": "generic_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_score",
              "displayName": "generic_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_label",
              "displayName": "finetuned_a_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_score",
              "displayName": "finetuned_a_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_label",
              "displayName": "finetuned_b_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_score",
              "displayName": "finetuned_b_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "winner",
              "displayName": "winner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1040,
        -80
      ],
      "id": "ba8e4025-f6cf-46f8-9db4-3e412c8703ec",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "3Z4k2GLRAx8WGQxq",
          "name": "Airtable Personal Access Token account 34"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Generic Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fine-Tuned A",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fine-Tuned B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generic Sentiment": {
      "main": [
        [
          {
            "node": "Extract Generic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fine-Tuned A": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fine-Tuned B": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Generic": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fine-Tuned A": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Fine-Tuned B": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "124a810b-0ce9-4f39-beca-f972340032c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "JTbuvD0JlMzIxfOc",
  "tags": []
}