week-04-model-comparison/workflow.json
{
  "name": "Week 4 - Model Comparison",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "sentiment_label",
              "value": "={{ $json[0].label }}"
            },
            {
              "name": "input_text",
              "value": "={{ $('Search records').item.json.input_text}}"
            },
            {
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}"
            }
          ],
          "number": [
            {
              "name": "sentiment_score",
              "value": "={{ $json[0].score }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Sentiment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        256,
        -176
      ],
      "id": "508a3257-10f6-44d3-8f76-51f66ffd9716"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{$json.input_text  }}\",\n  \"parameters\":{\n    \"candidate_labels\":[\"critical threat\", \"routine activity\", \"possible anomaly\"]\n  }\n}",
        "options": {}
      },
      "name": "HF Zero-Shot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        -16
      ],
      "id": "12e10095-b361-445e-b951-35d5e47ead7e",
      "credentials": {
        "huggingFaceApi": {
          "id": "fxoYPqXuAAdSoyoL",
          "name": "HuggingFaceApi account 7"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        176
      ],
      "id": "62415876-6cee-420d-9b5e-6906efcc8e3f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        176
      ],
      "id": "369b3aab-2995-435f-abe9-9dd4b86c29b5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        976,
        560
      ],
      "id": "72cfc6ad-ec3b-450d-9f9d-6f8d1e7abecc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a08f2a61-d39e-4aad-95eb-02c13f3837d2",
              "name": "zeroshot_label",
              "value": "={{$json.label}}",
              "type": "string"
            },
            {
              "id": "15282a1e-bfa0-416a-a3d0-46e888856865",
              "name": "zeroshot_score",
              "value": "={{ $json.score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -16
      ],
      "id": "417e8127-9f4f-4f9f-a915-4833146ab56b",
      "name": "Edit Fields",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n\"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        -176
      ],
      "id": "a2eb3eb5-a8ea-4101-9976-be953c49910f",
      "name": "HF Sentiment",
      "credentials": {
        "huggingFaceApi": {
          "id": "fxoYPqXuAAdSoyoL",
          "name": "HuggingFaceApi account 7"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/dslim/bert-large-NER",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        160
      ],
      "id": "c142946e-5fe7-4fc5-831a-10a550a3e8ee",
      "name": "HF NER",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "XO8bWPVNvlwPnBig",
          "name": "Header Auth account 14"
        },
        "huggingFaceApi": {
          "id": "fxoYPqXuAAdSoyoL",
          "name": "HuggingFaceApi account 7"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff1fc079-47f4-4bc3-8f09-c7b47a876456",
              "name": "=ner_entities",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        160
      ],
      "id": "9191b627-aba2-45fd-a15f-092438483bb8",
      "name": "Extract NER",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a security analyst. Classify the following alert as one of: CRITICAL, HIGH, MEDIUM, LOW, or INFORMATIONAL. Reply with the severity level and one sentence of reasoning.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.input_text }}\"\n    }\n  ],\n  \"max_tokens\": 100\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        352
      ],
      "id": "d8df4d77-859a-4a7d-bebc-04b59a2a043c",
      "name": "Groq LLM",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ie7WPccknkkUHb1k",
          "name": "Groq API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCi1AEfHXeVNfWv",
          "mode": "list",
          "cachedResultName": " Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appCi1AEfHXeVNfWv"
        },
        "table": {
          "__rl": true,
          "value": "tblFkXcnGBKfGH8bN",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appCi1AEfHXeVNfWv/tblFkXcnGBKfGH8bN"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -624,
        176
      ],
      "id": "91aa0891-2844-45dd-815f-99dfe13db55e",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "3Z4k2GLRAx8WGQxq",
          "name": "Airtable Personal Access Token account 34"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cd38fa4-58b5-4fe8-8a1d-b76d16dbc63b",
              "name": "groq_classification ",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        352
      ],
      "id": "430036f4-c4ab-426a-b2dc-f8fb8508ed52",
      "name": "Extract Groq"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        48
      ],
      "id": "11c2edf6-9c43-458d-af2f-6a2cbc87ce9e",
      "name": "Merge",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appCi1AEfHXeVNfWv",
          "mode": "list",
          "cachedResultName": " Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appCi1AEfHXeVNfWv"
        },
        "table": {
          "__rl": true,
          "value": "tblFkXcnGBKfGH8bN",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appCi1AEfHXeVNfWv/tblFkXcnGBKfGH8bN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.record_id }}",
            "model_1_sentiment_label": "={{ $json.sentiment_label }}",
            "model_1_sentiment_score": "={{ $json.sentiment_score }}",
            "model_2_zeroshot_label": "={{ $json.zeroshot_label }}",
            "model_2_zeroshot_score": "={{ $json.zeroshot_score }}",
            "model_3_ner_entities": "={{ $json.ner_entities }}",
            "tested_at": "= {{ new Date().toISOString() }}",
            "model_4_groq_classification": "={{ $json['groq_classification '] }}",
            "input_text": "={{ $json.input_text  }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_label",
              "displayName": "model_1_sentiment_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_score",
              "displayName": "model_1_sentiment_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_label",
              "displayName": "model_2_zeroshot_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_score",
              "displayName": "model_2_zeroshot_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_3_ner_entities",
              "displayName": "model_3_ner_entities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_4_groq_classification",
              "displayName": "model_4_groq_classification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        784,
        48
      ],
      "id": "9476b7e6-e824-4237-91ab-64d9ccc819fe",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "3Z4k2GLRAx8WGQxq",
          "name": "Airtable Personal Access Token account 34"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HF Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF Zero-Shot",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF NER",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Zero-Shot": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Sentiment": {
      "main": [
        [
          {
            "node": "Extract Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF NER": {
      "main": [
        [
          {
            "node": "Extract NER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "main": [
        [
          {
            "node": "Extract Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Groq": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Extract Sentiment": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract NER": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "34667443-4e2a-4990-a963-ad0f60c20944",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "WomWcPWqLXc91bBUkb9RA",
  "tags": []
}